<div id="header">
  <div class="user-info">
    <% if user_signed_in? %>
    
    <% end %>
    
    <%= render partial: 'account_links' %>
  </div>
</div>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="container">
  <div class="column left-column">
    <% if user_signed_in? %>
    
    <% end %>
  </div>

  <div class="column middle-column">
    <% if user_signed_in? %>
      <% if current_user.roles.exists? %>
        <div id="articles">
          <% @articles.each do |article| %>
            <div class="article">
              <h2><%= article.title %></h2>
              <p><strong>Texto:</strong> <%= article.text %></p>
              <% if article.user.present? %>
                <p><strong>Usuário:</strong> <%= article.user.email %></p>
              <% else %>
                <p><strong>Usuário:</strong> Não disponível</p>
              <% end %>
              <p><strong>Data:</strong> <%= article.created_at.in_time_zone('Brasilia').strftime('%d %m %Y %H:%M:%S') %></p>
              <div class="actions">
                <%= link_to "Mostrar", article %>
                <% if can? :update, article %>
                  <%= link_to "Editar", edit_article_path(article) %>
                <% end %>
                <% if can? :destroy, article %>
                  <%= link_to "Excluir", article, method: :delete, data: { confirm: 'Tem certeza?' } %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <%= link_to "Novo artigo", new_article_path, class: 'btn btn-primary' %>

        <div id="pagination">
          
        </div>
      <% else %>
        <p>Você precisa solicitar um perfil ao administrador para ver os artigos.</p>
      <% end %>
    <% end %>
  </div>

  <div class="column right-column">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Gerenciar Usuários', users_path, class: 'btn btn-primary' %>
      <%= link_to 'Gerenciar Perfil', roles_path, class: 'btn btn-primary' %>
    <% end %>

    <%= search_form_for @q, class: 'search-form' do |f| %>
      <%= f.label :text_cont, 'Pesquisar Texto' %>
      <%= f.search_field :text_cont %>
      <%= f.submit 'Pesquisar' %>
    <% end %>
  </div>
</div>
