<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Back to articles", articles_path %>
  <% if can? :update, @article %>
    <%= link_to "Edit this article", edit_article_path(@article) %> |
  <% end %>
  <% if can? :destroy, @article %>
    <%= button_to "Destroy this article", @article, method: :delete, data: { confirm: 'Tem certeza?' } %>
  <% end %>
</div>
