<% if notice %>
  <p class="notice-message"><%= notice %></p>
<% end %>

<div class="view-container">
  <h2 class="centered-title">Detalhes do Artigo</h2>
  <div class="blue-line"></div>

  <%= render @article %>

  <div class="action-buttons">
    <%= link_to "Listar Artigos", articles_path, class: "btn btn-back" %>
    <% if can? :update, @article %>
      <%= link_to "Editar", edit_article_path(@article), class: "btn btn-edit" %>
    <% end %>
    <% if can? :destroy, @article %>
      <%= button_to "Excluir", @article, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-delete" %>
    <% end %>
  </div>
</div>